<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.ControladorProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>controlador.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>controlador.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auditoria</servlet-name>
        <servlet-class>controlador.ControladorAuditoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>controlador.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorClientes</servlet-name>
        <servlet-class>controlador.ControladorClientes</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ControladorProveedores</servlet-name>
        <servlet-class>controlador.ControladorProveedores</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ControladorCompras</servlet-name>
     <servlet-class>controlador.ControladorCompras</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ControladorVentas</servlet-name>
        <servlet-class>controlador.ControladorVentas</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ReporteInventario</servlet-name>
        <servlet-class>controlador.ReporteInventario</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReporteVentas</servlet-name>
        <servlet-class>controlador.ReporteVentas</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReporteCompras</servlet-name>
        <servlet-class>controlador.ReporteCompras</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReporteProductosMasVendidos</servlet-name>
        <servlet-class>controlador.ReporteProductosMasVendidos</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReporteTopClientes</servlet-name>
        <servlet-class>controlador.ReporteTopClientes</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReporteTopProveedores</servlet-name>
        <servlet-class>controlador.ReporteTopProveedores</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReporteUtilidades</servlet-name>
        <servlet-class>controlador.ReporteUtilidades</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ControladorProductos</servlet-name>
        <servlet-class>controlador.ControladorProductos</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControladorProductos</servlet-name>
        <url-pattern>/ControladorProductos</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReporteUtilidades</servlet-name>
        <url-pattern>/ReporteUtilidades</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReporteTopProveedores</servlet-name>
        <url-pattern>/ReporteTopProveedores</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReporteTopClientes</servlet-name>
        <url-pattern>/ReporteTopClientes</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReporteProductosMasVendidos</servlet-name>
        <url-pattern>/ReporteProductosMasVendidos</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReporteCompras</servlet-name>
        <url-pattern>/ReporteCompras</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ReporteVentas</servlet-name>
        <url-pattern>/ReporteVentas</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReporteInventario</servlet-name>
        <url-pattern>/ReporteInventario</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ControladorVentas</servlet-name>
        <url-pattern>/ControladorVentas</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ControladorCompras</servlet-name>
        <url-pattern>/ControladorCompras</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ControladorProveedores</servlet-name>
        <url-pattern>/ControladorProveedores</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ControladorClientes</servlet-name>
        <url-pattern>/ControladorClientes</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auditoria</servlet-name>
        <url-pattern>/Auditoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/ControladorUsuarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
